body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size: 60px;
    color: black;
}
.gold-color{
    color: gold;
}
h3{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
   font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}