body{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size: 60px;
    color: black;
}
.gold-color{
    color: gold;
}
h3{
    font-size: 45px;
    font-family: fantasy ;
    color: orangered;
}
p{
   font-size: 30px;
    font-family: inherit;
    color: black;
}
section{
    display: flex;
}